.flex{
    display: flex;
    
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 3px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    
}
.btn-primary{
    background: var(--primary);
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
    

}
.btn-secondary{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
    

    
}
.btn-secondary:hover{
    background:var(--primary);
    color: var(--secondary);
    font-family: 'poppins',sans-serif;
}
.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}
.btn-primary1{
    padding: 0.8rem 3rem;
    background: var(--primary);
    border-color: var(--primary);
    color: var(--dark);
    padding: 0.8rem 3rem;
}
.btn-primary1:hover{
    background: transparent;
    color: var(--secondary);
}
.btn-secondary1{
    padding: 0.8rem 3rem;
    background:var(--primary) ;
    border-color: var(--primary);
    color: var(--dark);

}
.btn-secondary1:hover{
    background: transparent;
    color: var(--secondary);
}
.nc{
    width: 100px;
    height: 100px;
    size: 50px;
}